.game {

}

.game .init {
    position: fixed;
    right: 20px;
    width: 120px;
}

.game .init .generate {
    margin-top: 10px;
}

.game .init .tips {
    margin-top: 12px;
}

.game .actions {
    height: 32px;
    margin-bottom: 20px;
}

.game .center-picker .hint {
    margin-right: 20px;
    color: #808080;
}

.game .center-picker .circle-center {
    margin-right: 10px;
    color: #22aa87;
}

.game .center-picker .circle-radius {
    margin-right: 20px;
    color: #22aa87;
}

.game .center-picker .count {
    margin-right: 20px;
    color: #2278dc;
}

.game .map {
    position: relative;
    margin-top: 40px;
    width: 660px;
    height: 660px;
}

.game .map .line-h {
    position: absolute;
    left: 0;
    width: 660px;
    height: 2px;
    background: #ddd;
    transform: translateY(-1px);
}

.game .map .line-v {
    position: absolute;
    top: 0;
    width: 2px;
    height: 660px;
    background: #ddd;
    transform: translateX(-1px);
}

.game .map .dot {
    position: absolute;
    display: inline-block;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #333;
}

.game .map .dot.hide {
    display: none;
}

.game .map .dot.hold {
    color: #00E600;
    font-weight: bold;
}

.game .map .dot.hold.outer {
    color: #3399CC;
}

.game .map .dot.hold.exit {
    font-weight: normal;
    color: #b5b6b7 !important;
}

.game .map .dot {
    position: absolute;
    display: inline-block;
    transform: translate(-50%, -50%);
    background: #fff;
}

.game .map .circle {
    position: absolute;
    background: aquamarine;
    border-radius: 50%;
    opacity: .6;
}